<!-- Page Content -->
<div id="page-content-wrapper">

    <div class="container fluid">
        <h1 id="page-title" class="mt-4">
            <span style="color: pink;"> {{course_name}} </span >
        </h1>
</div>
<div id="display-area" class="container fluid">
    <div class="row">
        <div id="main-display" class="col-sm-3">
                <div class="list-items"><br/>
                <nav>
                    <a routerLink="/course/{{course_name}}/home"><div class="menu-item">Home</div></a>
                    <a routerLink="/course/{{course_name}}/grades"><div class="menu-item">Grades</div></a>
                    <a routerLink="/course/{{course_name}}/quizzes"><div class="menu-item">Quizzes</div></a>
                    <a routerLink="/course/{{course_name}}/attendance"><div class="menu-item">Attendance</div></a>
                </nav>
                </div>
        </div>
        <div  id="main-display" class="col-sm-8">
            <div class="grades-heading">
                <p class="head-text">Grades for (name of student)</p>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <p class="column-heading">Name</p>
                </div>
                <div class="col-sm-4">
                    <p class="column-heading">Score</p>
                </div>
                <div class="col-sm-4">
                    <p class="column-heading">Total</p>
                </div>
                <div>
                    <hr class="horizontal-line">
                </div>
            </div>
            <div class="quiz-records">
                <app-quiz-record id="quiz-marks-row"
                    *ngFor="let quiz of quizzes;"
                    [quiz]="quiz">
                </app-quiz-record>
            </div>
        </div>
    </div>
</div>

</div>