<div class="row no-gutters" style="width: 102%">
    <div class="col-sm-2 ">
        <p class="column-heading">{{studentdata.student.firstname + " " + studentdata.student.lastname}}</p>
    </div>
    <div class="col-sm-2">
        <p class="column-heading">{{studentdata.student.batch}}</p>
    </div>
    <div class="col-sm-2">

        <a href= "http://localhost:3080/{{path}}" class="column-heading center"> <img src="../../assets/images/icons/download.png" width="15px" height="15px" >
        </a>
    </div>
    <div class="col-sm-2">
        <input [(ngModel)] = "Score" class="score">
    </div>
    <div class="col-sm-2">
        <p class="column-heading">20</p>
    </div>
    <div class="col-sm-1">
        <button (click) = "updateMarks()" class="update">Update</button>
    </div>
</div>