<div class="row no-gutters" style="width: 102%">
    <div class="col-sm-3 ">
        <p class="column-heading">{{studentdata.name}}</p>
    </div>
    <div class="col-sm-1">
        <p class="column-heading">{{studentdata.batch}}</p>
    </div>
    <div class="col-sm-3">
        <p class="column-heading">{{studentdata.date}}</p>
    </div>
    <div class="col-sm-2">

        <a href= "javascript:void(0)" class="column-heading center" (click)="downloadSubmission()"> <img src="../../assets/images/icons/download.png" width="15px" height="15px" >
        </a>
    </div>
    <div class="col-sm-1">
        <p class="column-heading">{{studentdata.score}}</p>
    </div>
    <div class="col-sm-1">
        <p class="column-heading">{{studentdata.total}}</p>
    </div>
</div>