<div class="row">
    <div class="box"> 
        <div class = "texts">
            <div class="quiz-name">
                <a routerLink = "/coursefaculty/{{course_name}}/quizzes/{{quiz.name}}/grades"  [state] = quiz><p class="name">{{quiz.quiz_name}}</p></a>
            </div>
        </div>

        <div class="icons">
            <a href="javascript:void(0)">
            <img src="../../assets/images/icons/lock.png" (click)= "lockQuiz()" width="20px" height="20px" style="margin-bottom: 20px;" class="trash">
        </a >
        </div>
        
    </div>
    </div>
    
    