<div class="row">
    <div class="box"> 
        <div class = "texts">
            <div class="quiz-name">
                <a routerLink = "/coursefaculty/{{course_name}}/quizzes/{{quiz.name}}"  [state] = quiz><p class="name">{{quiz.name}}</p></a>
            </div>
            <div class="quiz-date">
                <p class="date">DUE: {{quiz.duedate}}</p>
            </div>
        </div>

        <div class="icons">
            <a href="javascript:void(0)">
            <img src="../../assets/images/icons/trashcan.png" (click)= "deleteQuiz()" width="20px" height="30px" class="trash">
        </a >
        </div>
        
    </div>
    </div>
    
    