<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <img id="logo" src="../../assets/images/uni logo.png">
      <div class="list-group list-group-flush">
        <a href="#" ><img class="tabs" src="../../assets/images/icons/my account.png"></a>
        <a href="#" ><img class="tabs" src="../../assets/images/icons/announcements.png"></a>
        <a href="#" ><img class="tabs" src="../../assets/images/icons/courses.png"></a>
        <a href="#" ><img class="tabs" src="../../assets/images/icons/help.png"></a>
	  </div>
	</div>
    <!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<app-display></app-display>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->