<div class="home-bg">
  <div class="text-center uni-name-div">
      <span class="uni-name">Some </span> <span class="uni-name" style="color:white;">University </span>
  </div>    

  HELLO

  <div class="container">
    <div class="row home-welcome">
      <div class="col-sm-8">
      <div class="home-txt-div">

        <p class="home-txt-head">Welcome to Some University's Portal</p>
        <hr class="home-hr">
        <p class="home-txt">Some University application is a single self-service entry point from where the students and faculty can
          access all the navigations required to view and manage their academics administration information.
        </p>
      </div>
    </div>
    <div class="col home-login">
      <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
    </div>
    </div>
    <div class="row home-quote">
      <div class="col-sm">
        <p class="quote-text">THE BEST WAY TO PREDICT THE FUTURE IS TO CREATE IT</p>
        <p class="quote-author">Abraham Lincoln</p>
      </div>>
    </div>
  </div>
    
</div>

