#page-title {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left:20px;
    font-family: playfair display;
    font-weight: bold;
}

app-course-card {float:left; margin:20px;}

#class-card{float:left;}

#main-display {
    margin-left: 60px;
    background: url('../../assets/images/blur bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 80vh;
    width: 85vw;
    border:1px solid black;
}

.course-card {
    float: left;
    height: 180px;
    width: 150px;
    border: 1px solid black;
    margin: 10px;
}

